* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-style: normal;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 1200px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header p {
    color: rgba(98, 102, 98, 0.884);
    font-size: 12px;
}
.user {
    background-color: #4343cc;
    color: white;
    padding: 7px 13px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}
table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}
table th, table td {
    font-size: 12px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
}
thead{
    font-weight: bolder;
}
tbody th{
    font-weight: 420;
}
table td {
    color: rgba(98, 102, 98, 0.884);
}
.link {
    text-align: end;
}
.edit {
    text-decoration: none;
    color: #4848E0;
}