* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-style: normal;
}
.container {
    height: 100vh;
    width: 1200px;
    margin: auto;
}
.header {
    width: 590px;
    margin: 35px auto;
    text-align: center;
}
.header :nth-child(1) {
    color: blue;
    margin-bottom: 5px;
}
.header p:first-of-type {
    font-size: 14px;
    font-weight: 500;
}
.header h1 {
    font-size: 36px;
    font-weight:bolder;
    margin-bottom: 10px;
}
.header :last-child {
    color: #545a5f;
    line-height: 25px;
}
.para, .head{
    font-size: 14px;
}
.cards, .card{
    display: flex;
}
.cards {
    margin-top: 5rem;
    justify-content: center;
}
.card {
    width: 340px;
    flex-direction: column;
    padding: 0 30px;
    gap: 20px;
}
.card:nth-child(1),
.card:nth-child(2) {
    border-right: 2px solid #F3F4F6;
}
.card .head, .detail {
    font-weight: 600;
    margin-top: 5px;
}
.price {
    font-size: 30px;
    margin-bottom: -15px;
}
.price span {
    font-size: 10px;
    color: #545a5f;
}
.info {
    font-size: 12px;
    color: #545a5f;
    margin-bottom: 15px;
}
.card button {
    height: 30px;
    width: 250px;
    border: none;
    background-color: #4848E0;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    font-size: 13px;
}
.card button:hover {
    cursor: pointer;
    background-color: #3939ba;
}
.card li {
    color: #545a5f;
    padding: 5px;
    list-style: none;
}
.detail{
    font-size: 12px;
    font-weight: 600;
}
li{
    font-size: 12px;
}
li i {
    border-radius: 50%;
    margin-right: 10px;
    color: white;
    background-color: #4848E0;
}
.feature-list {
    font-size: 14px;
    color: #343a40; 
}

.feature-li-item {
    font-size: 12px;
    display: flex;
    justify-content: left;
    align-items: center;
    align-self: center;
    gap: 10px;
    line-height: 2.5;
}

.tick-icon {
    height: 24px;
    width: 24px;
    fill: #3b5bdb;
    stroke: white;
}

