*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 80px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    background-color: #fff;
}
.container{
    height: 800px;
    width: 1200px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.363), rgba(255, 255, 255, 0.371)), url(img.jpg);
    background-size: cover; 
}
header{
    height: 80px;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    justify-items: center;
    align-items: center;
}
nav a, .login, .learn{
    color: #212529;
}
a:link {
    padding:15px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    padding-left: 5px;
}
section{
    width: 590px;
    margin: 170px auto;
    display: flex;
    flex-direction: column;
    gap: 25px; 
}
span{
    color:#074130;
}
.para{
    padding-left: 20px;
    font-size: 12px;
    margin: 0 auto;
    border: 1px solid #212529;
    border-radius: 100px;
    display: flex;
    align-items: center;
    line-height: 0;
}
.read{
    font-size: 12px;
    color: #4343cc;
}
h1{
    font-size: 52px;
    text-align: center;
    letter-spacing: 0px;
    line-height: 60px;
}
.dis{
    font-size: 15px;
    text-align: center;

}
.get{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    font-size: 14px;
    font-weight: 600;
    width: 110px;
    text-align: center;
    padding: 10px 12px;
    border-radius: 8px;
    margin-right:20px;
    color: #fff;
    background-color: #4343cc;
}
